<tr class='details_head_row'>
  <td style="width:110px;"><%= title %></td>
  <td>Apr 18</td>
  <td>May 18</td>
  <td>Jun 18</td>
  <td>Jul 18</td>
  <td>Aug 18</td>
  <td>Sep 18</td>
  <td>Oct 18</td>
  <td>Nov 18</td>
  <td>Dec 18</td>
  <td>Jan 19</td>
  <td>Feb 19</td>
  <td>Mar 19</td>
  <td>Total</td>
</tr>
