
<% provide(:title, @user.name) %>
<table style='width:100%;'>
  <tr style='width:50%;'>
    <td><b>User Type:</b></td>
    <td style='width:50%;'><b><%= @user.user_type %></b></td>
  </tr>
  <tr>
    <td><b>View Permissions:</b></td>
    <td>
      <% @user.groups.each do |g| %>
        <%= g.name %><br>
      <% end %>
    </td>
</table>
