@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* My Stuff */

.blue_header{
  background-color: #005ea5;
}

.main_title{
  float:left;
  color:white;
  font-family: "nta",Arial,sans-serif;
  font-weight: 700;
}

.main_table{
  margin-top: 10px;
  width: 100%;
}

.main_table  tr{
  border-bottom: solid 1px #bfc1c3;
  width: 100%;
}

.c{
  text-align: center;
}

.pos{
  color: red;
}

.neg{
  color:green;
}

.sub_total{
  font-weight: bold;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  background-color: #efefef;
}

.grand_total{
  font-weight: bold;
  border: solid black 1px;
}

.small_text{
  font-size: 9px;
}

.people_details_table th{
  text-align: center;
}

.details_head_row{
  background-color: #005ea5;
  color: white;
  border: solid black 1px;
}

.details_head_row td{
  text-align: center;
}

.people_toolbar_div{
  background-color: #efefef;
  padding:10px 5px 10px 5px;
}

.frozen{
  position: absolute;
  width:300px;
  z-index: 1;
}

.frozen_2{
  position: absolute;
  padding-left: 300px;
  width:500px;
  border-right: solid black 1px;

}

.first_col {
  padding-left: 500px;
  width:750px;
}

.w{
  width: 250px;
}

.lr{
  border-right: solid black 1px;
  border-left: solid black 1px;
}

#table_window{
  overflow-x: scroll;
  overflow-y: hidden;
  border-left: solid black 1px;
  border-right: solid black 1px;
  margin-top:10px;
}

.actual_td{
  background-color: #c9daf8;
  text-align: center;
}

.forecast_td{
  background-color: #f4cccc;
  text-align: center;
}

.baseline_td{
  background-color: #fce5cd;
  text-align: center;
}

.variance_td{
  text-align: center;
}

.total_row{
  border: solid black 1px;
  background-color: #efefef;
  font-weight: bold;
}

.total_row td{
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  text-align: center;
}
