// Place all the styles related to the Sandboxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.change_req_row{
  background-color: #fce5cd;
}

.new_line{
  background-color: #d9ead3;
}

.delete_row{
  background-color: #f4cccc;
}

.sub_row{
  background-color: #efefef;
  display: none;
}
